body {
    background-image: url(image1.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

#content {
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.new {
    background-color: antiquewhite;
    padding-top: 60px;
    padding-left: 20px;
    border-radius: 25px;
}