<form class="form-horizontal" name="myForm" novalidate>
  <fieldset>
    <legend>Sign Up</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Email</label>
      <div class="col-lg-4">
        <input class="form-control" id="inputEmail" placeholder="Email" type="text" name="email" 
               ng-model="rc.user.email"
               ng-required="true"
               ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/">
          <p ng-if="myForm.email.$error.required && myForm.email.$dirty">Email is required</p>
          <p ng-if="myForm.email.$error.pattern">Invalid Email</p>
      </div>
    </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Username</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Username" type="text"  
               ng-model="rc.user.username"
               name="username"
               ng-required="true"
               ng-pattern="/^[A-z]+$/"
               check-username>
          <p ng-if="myForm.username.$error.pattern">Invalid Username</p>
          <p ng-if="myForm.username.$error.required && myForm.username.$dirty">Username is required</p>
          <p ng-if="myForm.username.$error.checkuser && myForm.username.$dirty">Username already exists</p> 
      </div>
    </div>
    
      <div class="form-group">
      <label class="col-lg-2 control-label">Password</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Password" type="password" name="password"
               ng-model="rc.user.password"
               ng-required="true">
          <p ng-if="myForm.password.$error.required && myForm.password.$dirty">Password is required</p>
      </div>
    </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Age</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Age" type="text" name="age"
               ng-model="rc.user.age"
               ng-required="true"
               numbers-only
               maxlength=2>
          <p ng-if="myForm.age.$error.required && myForm.age.$dirty">Age is required</p>
      </div>
    </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Phone</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Phone" type="text" name="phone"
               ng-model="rc.user.phone"
               ng-required="true"
               numbers-only
               maxlength=10>
          <p ng-if="myForm.phone.$error.required && myForm.phone.$dirty">Phone is required</p>
      </div>
    </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Country</label>
      <div class="col-lg-4">
        <select class="form-control" ng-model="rc.selectedCountry" ng-options="country.name for country in rc.myCountries"></select>
      </div>
    </div>
    
      <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Describe Yourself</label>
      <div class="col-lg-4">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
      </div>
    </div>
    
      <div class="form-group">
      <label class="col-lg-2 control-label">Gender</label>
      <div class="col-lg-4">
        <div class="radio">
          <label>
            <input name="optionsRadios" id="optionsRadios1" value="M" type="radio">
            Male
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="optionsRadios" id="optionsRadios2" value="F" type="radio">
            Female
          </label>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>