<form class="form-horizontal" name="myForm" novalidate>
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Email</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Email" type="text" 
               name="email"
               ng-required="true"
               ng-model="rc.email">
          <p ng-if="myForm.email.$error.required && myForm.email.$dirty">Email is required</p>
      </div>
    </div>
      
       <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Username" type="text"
               name="username"
               ng-model="rc.username"
               ng-required="true"
               chech-user-name>
          <p ng-if="myForm.username.$error.required && myForm.username.$dirty">Username is required</p>
          <p ng-if="myForm.username.$error.checkuser && myForm.username.$dirty">Username already exists</p>
      </div>
    </div>
      
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-4">
        <input class="form-control" id="inputPassword" placeholder="Password" type="password">
      </div>
    </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Age</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Age" type="text" 
               name="age"
               ng-required="true"
               ng-model="rc.age"
               only-numbers>
          <p ng-if="myForm.age.$error.required && myForm.age.$dirty">Age is required</p>
      </div>
    </div>
      
       <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Country</label>
      <div class="col-lg-4">
          <select class="form-control" ng-model="rc.selectedcountry" ng-options="country.name for country in rc.myCountries"></select>
      </div>
    </div>
      
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-4">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Radios</label>
      <div class="col-lg-4">
        <div class="radio">
          <label>
            <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
            Option one is this
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
            Option two can be something else
          </label>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>